asgiref==3.11.0
astroid==4.0.4
bandit==1.9.3
certifi==2026.1.4
charset-normalizer==3.4.4
cloudinary==1.44.1
colorama==0.4.6
dill==0.4.1
dj-database-url==3.1.2
dj-rest-auth==7.0.1
Django==4.2.16
django-allauth==65.4.1
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
gunicorn==25.3.0
idna==3.11
isort==8.0.0
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
packaging==26.0
pillow==12.2.0
platformdirs==4.9.2
psycopg2-binary==2.9.9
Pygments==2.19.2
PyJWT==2.9.0
pylint==4.0.5
python-dotenv==1.0.0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.3
requests-toolbelt==1.0.0
rich==14.3.3
six==1.17.0
sqlparse==0.5.5
stevedore==5.7.0
tomlkit==0.14.0
tzdata==2025.3
urllib3==2.6.3
